<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.personinquiry">

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="员工查询V2.0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonDetailActivity"
            android:label="您的简历" />
        <activity
            android:name=".TotalPersonActivity"
            android:label="员工名单" />
        <activity
            android:name=".InformationModifyActivity"
            android:label="修改信息" />
        <activity
            android:name=".RegisterActivity"
            android:label="注册" />
        <activity
            android:name=".WebviewActivity"
            android:label="Github" />
        <activity android:name=".changepassword"
            android:label="修改密码" />

    </application>

</manifest>